@font-face{
	font-family: Silkscreen;
	font-display: swap;
	src: url("../fonts/Silkscreen-Bold.woff2") format("woff2"), url("../fonts/Silkscreen-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Silkscreen;
	font-display: swap;
	src: url("../fonts/Silkscreen-Regular.woff2") format("woff2"), url("../fonts/Silkscreen-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
