@import "../../node_modules/reset-css/sass/reset";
@import "fonts";

//<Иконочные шрифты>================================================================================
@import "icons";
//</Иконочные шрифты>===============================================================================

//<Шрифт по умолчанию>================================================================================
$fontFamily: "";
//</Шрифт по умолчанию>===============================================================================

//<Переменные>================================================================================
$minWinth: 320px;
$maxWidth: 1152px; //Ширина полотна
$maxWidthContainer: 856px;
$md1: calc(#{$maxWidthContainer} + 12px);
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>===============================================================================

//<Обнуление, обшие параметры>================================================================================
@import "null";

body {
} //TODO по видео 25:17

//</Обнуление, обшие параметры>===============================================================================

//<Оболочка>================================================================================
.wrapper {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</Оболочка>===============================================================================
//<Основная сетка>================================================================================
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0px 10px;
  }
}
//</Основная сетка>===============================================================================

// body {
//   font-family: Silkscreen;
//   font-size: 50px;
//   span {
//     color: red;
//   }
//   // background: url("@img/cover.png") 0 0 no-repeat;
// }

// @media (max-width: 768px) {
//   span {
//     font-size: 20px;
//   }
// }

// @media (max-width: 768px) {
//   body {
//     background-color: grey;
//   }
// }
